<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Rails Mashup App</a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Celebrities Home', celebrities_home_path %></li>
      <li><%= link_to 'Pokemon Home', pokemons_home_path %></li>
      <li><%= link_to 'Photos Home', photos_home_path %></li>
      <li><%= link_to 'Books Home', books_home_path %></li>
      <li><%= link_to 'Products Home', products_home_path %></li>
    </ul>
  </div>
</nav>