<h1>This is the Student New Page</h1>

<%= link_to 'Back', schools_students_path, :class=> "waves-effect waves-light btn" %>
<%= link_to 'Home', schools_index_path, :class=> "waves-effect waves-light btn" %>

<%= form_with url: schools_student_create_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>

  <%= f.submit "Create" %>
<% end %>