<h1>This is the Student Edit Page</h1>

<%= link_to 'Back', schools_students_path, :class=> "waves-effect waves-light btn" %>
<%= link_to 'Home', schools_index_path, :class=> "waves-effect waves-light btn" %>


<%= form_with model: @student, url: schools_student_update_path do |f| %>
  <%= f.hidden_field :id, value: @student.id%>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>

  <%= f.submit "Update" %>
<% end %>
