<h1>The Original Kanto Pokemon</h1>

<h6>
  <%= link_to 'SHOW MY PARTY', pokemons_party_path, :class => 'show-my-party' %>
</h6>


<section class="home-container">
<table class="highlight">
  <thead>
    <tr>
        <th>Image</th>
        <th>#</th>
        <th>Name</th>
        <th>About</th>
        <th>Party</th>
    </tr>
  </thead>

  <tbody>
 
  <% @all_pokemon.each do |pok| %>

    <tr>
      <td> <%= image_tag pok[:image]%></td>
      <td> <%= pok[:num] %>  </td>
      <td> <%= pok[:name].capitalize %> </td>
      <td> <%= link_to 'FIND OUT MORE', pokemons_show_path(pok[:name]), :class => 'find-out-more' %> </td>
      <td> <%= link_to 'ADD TO PARTY', pokemons_party_add_path(pok), :class => 'add-to-party' %> </td>
    </tr>
  <% end %>

  </tbody>
</table>
</section>




