
<h2><%= @pokemon[:name]%></h2>
<%= link_to 'Back', pokemons_home_path, :class=> "waves-effect waves-light btn" %>

<section class="show-container">
    
  <div class="row">
    
    <%@pokemon[:evolutions].each.with_index do |poke, index|%>

      <% if poke[:name].downcase == @pokemon[:name].downcase %>
        <% card_size = "m4"%>
        <% description = {
          description: @pokemon[:description],
          type1: @pokemon[:type1],
          type2: @pokemon[:type2],
          weight: @pokemon[:weight],
          base_exp: @pokemon[:base_exp]
          } %>
          <% poke[:image] = "https://pokeres.bastionbot.org/images/pokemon/#{poke[:num]}.png"%>
          <%# link = ""%>
          <%# link_text = ""%>
      <% else %>     
        <% card_size = "m2" %>
        <%# link = pokemons_show_path(poke[:evolutions][:name]) %>
        <%# link_text = "FIND OUT MORE"%>
        <% if index == 0 %>
          <% description = {
            description: "BASE FORM",
          } %>
        <% elsif index == 1 %>
          <% description = {
            description: "SECOND FORM",
          } %>
        <% else %>
          <% description = {
            description: "FINAL FORM",
          } %>
        <% end %>
      <% end %>


        <div class="col s4 <%=card_size%>">
          <div class="card">
            <div class="card-image">
              <%= image_tag poke[:image]%>
            </div>
            <div class="card-content">
              <span class="card-title" style="color:black">#<%= poke[:num] %> <%= poke[:name].capitalize %> </span>

              <%description.each do |k,v| %>
                
                <% if k.to_s == 'weight' %>
                    <p><%= k.to_s.capitalize.gsub(/_/,' ') + ': ' + v.to_s + 'kg' %></p>
                  <%elsif k.to_s == 'type1' || k.to_s == 'type2'%>
                    <p><%= k.to_s.capitalize.gsub(/_/,' ') + ': '%>
                      <span style="color: <%=v.values[0]%>"><%=v.keys[0]%></span>
                    </p>
                <% else %>
                    <p><%= k.to_s.capitalize.gsub(/_/,' ') + ': ' + v.to_s %></p>
                <% end %>
                
              <% end %>
            </div>
            <div class="card-action">
              <%= link_to "FIND OUT MORE", pokemons_show_path(poke[:name]) %>
            </div>
          </div>
        </div>


    <%end%>
  
  </div>
  

</section>



